
<%- include('partials/header.ejs') %>
    <div class="wel">
        <h2>COLLABORATIONS </h2>
        <p>Collaborate your ideas </p>
    </div>
   

    <div class="samplecontainer1">
        <div class="project">
            <h3>JOIN A PROJECT</h3>
            <div>
                <h4>join a team and contribute in projects</h4>
                <a href="/join" type="button" class="button-3d">JOIN PROJECT</a>
            </div>
        </div>
        <div class="project">
            <h3>HOST A PROJECT</h3>
            <div>
                <h4>Have Project Ideas:-> Then Host one </h4>
                <a href="/host" type="button" class="button-3d">HOST POJECT</a>
            </div>
        </div>
       
    </div>
    <div class="samplecontainer1">
        <div class="project1">
            <h3>Project History</h3>
            <div>
                <h4> Check out the projects you have worked on </h4>
                <a href="/history" type="button" class="button-3d">POJECT HISTORY</a>
            </div>
        </div>
    </div>
    


<%- include('partials/footer.ejs') %>